.details {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  padding: 1rem;
  text-transform: uppercase;
  &::before {
    height: 0.3rem;
    width: 9rem;
    content: "";
    background-color: var(--accent-color);
    position: absolute;
    top: 0;
    left: 0;
  }
  .name {
    margin-bottom: 1rem;
  }
  button {
    position: absolute;
    right: 7rem;
    bottom: -3rem;

    padding: 0.8rem 0.8rem;
    background-color: transparent;
    border: 0.1rem solid var(--accent-color);
    outline: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    cursor: pointer;
  }
  background-color: rgba(255, 255, 255, 0.125);
}

.stats {
  position: absolute;
  left: 1rem;
  bottom: 14rem;
  top: 30rem;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      color: white;
      text-align: right;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: 22rem;
      progress {
        transition: 2s ease-in-out;
        width: 0;
        height: 100%;
        -webkit-appearance: none;
        appearance: none;
        &::-webkit-progress-bar {
          border-radius: 1rem;
          height: 0.3rem;
          background-color: transparent;
        }
        &::-webkit-progress-value {
          border-radius: 1rem;
          background-color: var(--accent-color);
        }
      }
    }
  }
}

.battle-stats {
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    letter-spacing: 0.1rem;
    li {
      display: grid;
      grid-template-columns: max-content 55%;
      gap: 0.5rem;
    }
  }
  position: absolute;
  bottom: -1rem;
  color: white;
  padding: 1rem;
  width: 20rem;
  height: 21rem;
  top: 43rem;
  &::before {
    height: 0.3rem;
    width: 9rem;
    content: "";
    background-color: var(--accent-color);
    position: absolute;
    top: 0;
    left: 0;
  }
  .name {
    margin-bottom: 1rem;
  }
  .add-pokemon {
    position: absolute;
    right: 1rem;
    bottom: -4rem;
    padding: 0.8rem 0.8rem;
    background-color: transparent;
    border: 0.1rem solid var(--accent-color);
    outline: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover {
      background-color: var(--accent-color);
    }
  }
  background-color: rgba(255, 255, 255, 0.125);
}

@media screen and (min-width: 576px) {
  .details {
    width: 25rem;

    button {
      right: 12rem;
      bottom: -2rem;
    }
  }

  .stats {
    top: 29rem;

    ul {
      li {
        letter-spacing: 0.1rem;
        justify-content: flex-end;
        width: 25rem;
      }
    }
  }

  .battle-stats {
    ul {
      li {
        grid-template-columns: max-content 80%;
      }
    }

    width: 26rem;
    height: 13rem;
    top: 42rem;

    .add-pokemon {
      right: -1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .battle-stats {
    right: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .details {
    button {
      position: absolute;
      right: 6rem;
    }
  }
}
