footer {
  display: grid;
  grid-template-columns: 5rem auto 5rem;
  border-top: 1.5px solid rgba(255, 255, 255, 0.23);
  // margin-bottom: 3rem;

  .block {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: #e21b5a;
      font-size: 2.5rem;
      cursor: pointer;
    }

    img {
      cursor: pointer;
      height: 3rem;
    }
  }
  .data {
    border: 0.5px solid rgba(255, 255, 255, 0.23);
    border-top: none;
    border-bottom: none;
    font-size: small;

    ul {
      display: grid;
      grid-template-rows: auto;
      height: 100%;
      list-style-type: none;
      color: white;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: 500;

        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: var(--accent-color);
        }
      }

      .active {
        background-color: var(--accent-color);
      }
    }
  }
}

@media screen and (min-width: 576px) {
  footer {
    border-top: 0.5px solid rgba(255, 255, 255, 0.23);
    margin-bottom: 0;
    .data {
      border: 0.5px solid rgba(255, 255, 255, 0.23);
      border-top: none;
      border-bottom: none;

      ul {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  footer {
    .data {
      ul {
        li {
          letter-spacing: 0.2rem;
        }
      }
    }
  }
}
