.main-container {
  position: relative;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app {
  z-index: 1;
  background: rgba(4, 6, 20, 0.85);
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid rgba(23, 20, 20, 0.37);
  display: grid;
  grid-template-rows: 10vh auto 10vh;
  grid-template-columns: 1fr;

  .content {
    position: relative;
    border-top: none;
    border-bottom: none;
    height: 72vh;
    background-color: rgba(255, 255, 255, 0.052);
    overflow: hidden;
    margin-top: 3rem;
    overflow-y: scroll;
  }

  nav {
    margin-bottom: -3rem;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
  background-color: transparent;

  &-thumb {
    background-color: rgba(219, 219, 219, 0.557);
  }
}

@media screen and (min-width: 576px) {
  .app {
    .content {
      height: 80vh;
      margin: 0 5rem;
      border: 0.5px solid rgba(255, 255, 255, 0.203);
      padding-bottom: 10rem;
    }

    nav {
      margin-bottom: -0;
    }
  }
}
